{% from 'lbh-input/macro.njk' import lbhInput %}
{% from "lbh-back-link/macro.njk" import lbhBackLink %}
{% from "lbh-error-summary/macro.njk" import lbhErrorSummary %}
{% extends "../layouts/base.njk" %}

{% block content %}
  {{ lbhBackLink({
    "href": "/",
    "text": "Back"
  }) }}

  <h1 class="lbh-heading-h1">Resident lookup</h1>
  <p class="lbh-body-m">Search for resident by postcode <strong>or</strong> name to see if we have a record for them.</p>

 {% if query.haserrors %}
    {{ lbhErrorSummary({
        "titleText": "There is a problem",
        "descriptionText": query.message,
        "descriptionHtml": query.descriptionHtml
    }) }}
 {% endif %}

  <form action="/resident-search" method="post">

    <div class="govuk-grid-row row-margin-top-m">
        <div class="govuk-grid-column-one-third">

         <label class="govuk-label" for="postcode">Postcode</label>

          {{ lbhInput({
            "id": "postcode",
            "name": "postcode",
            "value": query.postcode,
            "classes": "govuk-input--width-10",
            "formGroup": {
              "classes": "govuk-form-group--error lbh-form-group" if query.haserrors else ''
            },
            "errorMessage": {
              "text": query.error_postcode
            } if query.error_postcode else null
          }) }}

        </div>

        <div class="govuk-grid-column-one-third">

         <label class="govuk-label" for="firstName">First name</label>

          {{ lbhInput({
            "id": "firstName",
            "name": "firstName",
            "value": query.firstName,
            "classes": "govuk-input--width-12",
            "formGroup": {
              "classes": "govuk-form-group--error lbh-form-group" if query.haserrors else ''
            },
            "errorMessage": {
              "text": query.error_firstName
            } if query.error_firstName else null
          }) }}

        </div>

        <div class="govuk-grid-column-one-third">

         <label class="govuk-label" for="lastName">Last name</label>

          {{ lbhInput({
            "id": "lastName",
            "name": "lastName",
            "value": query.lastName,
            "classes": "govuk-input--width-12",
            "formGroup": {
              "classes": "govuk-form-group--error lbh-form-group" if query.haserrors else ''
            },
            "errorMessage": {
              "text": query.error_lastName
            } if query.error_lastName else null
          }) }}

        </div>

    </div>
    <button class="govuk-button lbh-button js-cta-btn" data-module="govuk-button">
      Search
    </button>
  </form>
{% endblock %}