{% from 'lbh-button/macro.njk' import lbhButton %}
{% from "lbh-back-link/macro.njk" import lbhBackLink %}
{% from 'partials/userNav.njk' import UserNav %}

{% extends "../layouts/base.njk" %}

{% block content %}
{{ UserNav( userName ) }}

<div id="top">
    {{ lbhBackLink({
        "href": "/people/search-results",
        "text": "Back"
    }) }}

    {% if data | length %}
        <h1 class="lbh-heading-h1">Records for {{ data.personFullName }}</h1>

        <p class="lbh-body-m">Displaying {{ data | length}} record(s)</p>

        <table class="govuk-table lbh-table row-margin-top-l">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Officer Email</th>
                <th scope="col" class="govuk-table__header">Type of Record</th>
                <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for item in data %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            {{item.officerEmail}}
                        </td>
                        <td class="govuk-table__cell">
                            {{item.formName}}
                        </td>
                        <td class="govuk-table__cell">
                            <a href="{{item.caseFormUrl}}" target="_blank">View</a>
                        </td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>

    {% else %}
        <h3 class="lbh-heading-h3">No records found</h3>
    {% endif %}
</div>
{% endblock %}